* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table{
    width: 100%;
}
th{
    background-color: blueviolet;
    padding: 15px;
    border: 2px black solid;
    text-transform: uppercase;
    flex-grow: 1;
}
td{
    background-color: #c0b1d0;
    padding: 15px;
    border: 2px black solid;
    text-transform: uppercase;
    text-align: center;
}
.key td{
    font-weight: bold;
}