* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table{
    display: flex;
    flex-direction: column;
}
th{
    background-color: blueviolet;
    padding: 15px;
    border: 2px black solid;
    text-transform: uppercase;
    flex-grow: 1;
}
thead{
    display: flex;
    justify-content: space-around;
}
td{
    background-color: #c0b1d0;
    padding: 15px;
    border: 2px black solid;
    text-transform: uppercase;
    flex-grow: 1;
}
tr{
    text-align: center;
    display: flex;
    justify-content: space-around;

}